html {
  height: 100%;
  --text-color: #ecf0f1;
  --action-color: #e74c3c;
}

* {
  box-sizing: border-box;
  outline: 0;
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.page {
  width: 100%;
  height: 100%;
  background: #f2e59a;
  padding: 60px;
}

.scene-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scene {
  border: 2px solid #3498db;
}

.block {
  stroke-width: 1px;
  stroke: var(--text-color);
}

.paddle {
  fill: #33810f;
}

.ball {
  fill: #11364d;
}

.level {
  font-weight: bold;
  fill: #3498db;
}

.life {
  fill: var(--action-color);
}

.start-screen {
  border: 2px solid #3498db;
}

.start-title {
  font-weight: bold;
}

.start-text {
  font-weight: normal;
}

.start-button:hover rect {
  fill: #2980b9;
}

.level-completed-screen {
  border: 2px solid #3498db;
}

.level-completed-title {
  font-weight: bold;
}

.level-completed-text {
  font-weight: normal;
}

.continue-button:hover rect {
  fill: #229954;
}

.game-over-screen {
  border: 2px solid #3498db;
}

.game-over-title {
  font-weight: bold;
}

.game-over-text {
  font-weight: normal;
}

.restart-button:hover rect {
  fill: #c0392b;
}

.resume-game-screen {
  border: 2px solid #3498db;
}

.resume-game-title {
  font-weight: bold;
}

.resume-game-text {
  font-weight: normal;
}

.game-won-screen {
  border: 2px solid #3498db;
}

.game-won-title {
  font-weight: bold;
}

.game-won-text {
  font-weight: normal;
}

.play-again-button:hover rect {
  fill: #229954;
}
